In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('/Users/emilylin/Downloads/SARPP 2/SASUMMARY__ALL_AREAS_1998_2022.csv')
df.head()

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,1998,1999,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,"""00000""",United States,,SASUMMARY,1.0,...,Real GDP (millions of chained 2012 dollars) 1/,Millions of chained 2012 dollars,12045824.0,12623361.0,...,16553348.0,16932051.0,17390295.0,17680274.0,18076651.0,18609078.0,19036052.0,18509143.0,19609812.0,20014128.0
1,"""00000""",United States,,SASUMMARY,2.0,...,Real personal income (millions of constant (2...,Millions of constant 2012 dollars,(NA),(NA),...,13999660.3,14549525.5,15207440.0,15451718.3,15876254.0,16314204.8,16897074.2,17825584.2,18412541.1,(NA)
2,"""00000""",United States,,SASUMMARY,3.0,...,Real PCE (millions of constant (2012) dollars...,Millions of constant 2012 dollars,(NA),(NA),...,11211711.4,11515312.3,11892947.4,12187675.5,12478228.1,12837303.4,13092261.6,12700723.2,13754090.1,(NA)
3,"""00000""",United States,,SASUMMARY,4.0,...,Gross domestic product (GDP),Millions of current dollars,9062817.0,9631172.0,...,16843196.0,17550687.0,18206023.0,18695106.0,19477337.0,20533058.0,21380976.0,21060474.0,23315081.0,25462722.0
4,"""00000""",United States,,SASUMMARY,5.0,...,Personal income,Millions of current dollars,7601594.0,8006585.0,...,14189228.0,14969527.0,15681233.0,16092713.0,16837337.0,17671054.0,18575467.0,19812171.0,21288709.0,21804787.5

In [3]:
#Create a list of all column headers
print('Original dataframe contains columns for:')
columns = list(df.columns)
print(columns)

Original dataframe contains columns for:
['GeoFIPS', 'GeoName', 'Region', 'TableName', 'LineCode', 'IndustryClassification', 'Description', 'Unit', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022']

In [4]:
#Get extra detail about original dataset
information = df.info()
information

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 784 entries, 0 to 783
Data columns (total 33 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   GeoFIPS                 784 non-null    object
 1   GeoName                 780 non-null    object
 2   Region                  780 non-null    object
 3   TableName               780 non-null    object
 4   LineCode                780 non-null    float64
 5   IndustryClassification  780 non-null    object
 6   Description             780 non-null    object
 7   Unit                    780 non-null    object
 8   1998                    780 non-null    object
 9   1999                    780 non-null    object
 10  2000                    780 non-null    object
 11  2001                    780 non-null    object
 12  2002                    780 non-null    object
 13  2003                    780 non-null    object
 14  2004                    780 non-null    object
 15  2005                    780 non-null    object
 16  2006                    780 non-null    object
 17  2007                    780 non-null    object
 18  2008                    780 non-null    object
 19  2009                    780 non-null    object
 20  2010                    780 non-null    object
 21  2011                    780 non-null    object
 22  2012                    780 non-null    object
 23  2013                    780 non-null    object
 24  2014                    780 non-null    object
 25  2015                    780 non-null    object
 26  2016                    780 non-null    object
 27  2017                    780 non-null    object
 28  2018                    780 non-null    object
 29  2019                    780 non-null    object
 30  2020                    780 non-null    object
 31  2021                    780 non-null    object
 32  2022                    780 non-null    object
dtypes: float64(1), object(32)
memory usage: 202.3+ KB

In [5]:
#remove any irrelevant columns and rows that don't contain state or year information
df = df.drop(['GeoFIPS','Region','TableName','LineCode','IndustryClassification','Unit'], axis = 1)
df = df.drop(np.r_[0:15,780:784])
df

,GeoName,Description,1998,1999,2000,2001,2002,2003,2004,2005,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
15,Alabama,Real GDP (millions of chained 2012 dollars) 1/,149568.2,154900.2,157221.3,156853.2,160422.4,165134.7,176625.0,184369.5,...,191369.8,189886.3,191335.2,194283.8,196974.9,200372.6,203432.7,199880.8,209979.3,213264.8
16,Alabama,Real personal income (millions of constant (2...,(NA),(NA),(NA),(NA),(NA),(NA),(NA),(NA),...,190336.3,193661.1,203544.4,203118.8,209348.5,219468.5,223626.5,239485.0,246873.9,(NA)
17,Alabama,Real PCE (millions of constant (2012) dollars...,(NA),(NA),(NA),(NA),(NA),(NA),(NA),(NA),...,156274.7,158801.9,164127.8,165559.2,171213.9,180919.8,182791.4,182200.5,196126.6,(NA)
18,Alabama,Gross domestic product (GDP),110212.0,115680.1,119851.7,122915.5,127505.0,134152.6,147715.2,158846.8,...,194786.9,197406.9,202372.4,207368.4,214606.3,223859.3,231561.9,230892.1,254109.7,277817.5
19,Alabama,Personal income,99847.7,103369.4,108215.4,111947.4,114904.5,120123.4,128828.7,136861.1,...,175185.3,181078.8,189115.4,192363.5,199191.8,206712.0,216587.5,232040.3,250828.8,256949.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
775,Wyoming,Per capita disposable personal income 7/,22514,24012,25645,27384,28622,30636,32888,35337,...,47898,51573,51811,49499,51411,54886,57948,59462,62175,62227
776,Wyoming,Per capita personal consumption expenditures ...,20362,21754,23182,24086,24841,26250,28003,29929,...,37539,38822,39446,39662,40890,42372,43115,42556,47832,(NA)
777,Wyoming,Regional price parities (RPPs) 9/,(NA),(NA),(NA),(NA),(NA),(NA),(NA),(NA),...,96.718,97.795,97.863,97.741,97.049,92.195,93.823,91.402,91.418,(NA)
778,Wyoming,Implicit regional price deflator 10/,(NA),(NA),(NA),(NA),(NA),(NA),(NA),(NA),...,98.028,100.618,100.912,101.796,102.923,99.863,103.143,101.589,105.698,(NA)
779,Wyoming,Total employment (number of jobs),310043,315198,324653,330130,334123,336763,343755,354378,...,400402,406343,406033,398130,398939,404561,408235,401871,409176,(NA)

In [6]:
#keep only wanted columns including state, description, and columns with years 2013-2019
df = df.loc[:, ["GeoName","Description","2013","2014","2015","2016","2017","2018","2019"]]
df

,GeoName,Description,2013,2014,2015,2016,2017,2018,2019
15,Alabama,Real GDP (millions of chained 2012 dollars) 1/,191369.8,189886.3,191335.2,194283.8,196974.9,200372.6,203432.7
16,Alabama,Real personal income (millions of constant (2...,190336.3,193661.1,203544.4,203118.8,209348.5,219468.5,223626.5
17,Alabama,Real PCE (millions of constant (2012) dollars...,156274.7,158801.9,164127.8,165559.2,171213.9,180919.8,182791.4
18,Alabama,Gross domestic product (GDP),194786.9,197406.9,202372.4,207368.4,214606.3,223859.3,231561.9
19,Alabama,Personal income,175185.3,181078.8,189115.4,192363.5,199191.8,206712.0,216587.5
...,...,...,...,...,...,...,...,...,...
775,Wyoming,Per capita disposable personal income 7/,47898,51573,51811,49499,51411,54886,57948
776,Wyoming,Per capita personal consumption expenditures ...,37539,38822,39446,39662,40890,42372,43115
777,Wyoming,Regional price parities (RPPs) 9/,96.718,97.795,97.863,97.741,97.049,92.195,93.823
778,Wyoming,Implicit regional price deflator 10/,98.028,100.618,100.912,101.796,102.923,99.863,103.143
779,Wyoming,Total employment (number of jobs),400402,406343,406033,398130,398939,404561,408235

In [7]:
#rename column headers to a more recognisable name
df = df.rename(columns = {'GeoName':'State', 'Description':'Variables'})
df

,State,Variables,2013,2014,2015,2016,2017,2018,2019
15,Alabama,Real GDP (millions of chained 2012 dollars) 1/,191369.8,189886.3,191335.2,194283.8,196974.9,200372.6,203432.7
16,Alabama,Real personal income (millions of constant (2...,190336.3,193661.1,203544.4,203118.8,209348.5,219468.5,223626.5
17,Alabama,Real PCE (millions of constant (2012) dollars...,156274.7,158801.9,164127.8,165559.2,171213.9,180919.8,182791.4
18,Alabama,Gross domestic product (GDP),194786.9,197406.9,202372.4,207368.4,214606.3,223859.3,231561.9
19,Alabama,Personal income,175185.3,181078.8,189115.4,192363.5,199191.8,206712.0,216587.5
...,...,...,...,...,...,...,...,...,...
775,Wyoming,Per capita disposable personal income 7/,47898,51573,51811,49499,51411,54886,57948
776,Wyoming,Per capita personal consumption expenditures ...,37539,38822,39446,39662,40890,42372,43115
777,Wyoming,Regional price parities (RPPs) 9/,96.718,97.795,97.863,97.741,97.049,92.195,93.823
778,Wyoming,Implicit regional price deflator 10/,98.028,100.618,100.912,101.796,102.923,99.863,103.143
779,Wyoming,Total employment (number of jobs),400402,406343,406033,398130,398939,404561,408235

In [8]:
#change values in 'Variables' column to a suitable name
replace = ['(millions of chained 2012 dollars) 1/','(millions of constant (2012) dollars) 2/',\
         '(millions of constant (2012) dollars) 3/','4/','5/','6/','7/','8/','9/','10/']

# Function to replace part of the cell with white space
def replace_with_whitespace(cell, replace):
    for string in replace:
        if cell.endswith(string):
            cell = cell.replace(string, ' ' * len(string))
    return cell

# Apply the function to the specified column
df['Variables'] = df['Variables'].apply(replace_with_whitespace, args=(replace,))
df

,State,Variables,2013,2014,2015,2016,2017,2018,2019
15,Alabama,Real GDP,191369.8,189886.3,191335.2,194283.8,196974.9,200372.6,203432.7
16,Alabama,Real personal income ...,190336.3,193661.1,203544.4,203118.8,209348.5,219468.5,223626.5
17,Alabama,Real PCE ...,156274.7,158801.9,164127.8,165559.2,171213.9,180919.8,182791.4
18,Alabama,Gross domestic product (GDP),194786.9,197406.9,202372.4,207368.4,214606.3,223859.3,231561.9
19,Alabama,Personal income,175185.3,181078.8,189115.4,192363.5,199191.8,206712.0,216587.5
...,...,...,...,...,...,...,...,...,...
775,Wyoming,Per capita disposable personal income,47898,51573,51811,49499,51411,54886,57948
776,Wyoming,Per capita personal consumption expenditures ...,37539,38822,39446,39662,40890,42372,43115
777,Wyoming,Regional price parities (RPPs),96.718,97.795,97.863,97.741,97.049,92.195,93.823
778,Wyoming,Implicit regional price deflator,98.028,100.618,100.912,101.796,102.923,99.863,103.143
779,Wyoming,Total employment (number of jobs),400402,406343,406033,398130,398939,404561,408235

In [9]:
#check for any NULL values that need replacing or removing
print('Number of missing cells is: ')
missing_counts = df.isnull().sum()
print(missing_counts)

Number of missing cells is:
State        0
Variables    0
2013         0
2014         0
2015         0
2016         0
2017         0
2018         0
2019         0
dtype: int64

In [10]:
#check for duplicates in data frame
duplicate = df[df.duplicated()]
print(len(duplicate))

0

In [11]:
# Melt the DataFrame to convert years (2013-2019) to a single column
melted_df = pd.melt(df, id_vars=['State', 'Variables'], var_name='Year', value_name='Value')

# Pivot the melted DataFrame to have 'Variables' as columns and 'Year' as a separate column
pivot_df = melted_df.pivot(index=['State','Year'], columns='Variables', values='Value')

# Reset the index to make 'Year' a separate column
pivot_df.reset_index(inplace=True)

# Rename the index column to 'Years'
pivot_df.rename(columns={'Year': 'Year'}, inplace=True)
pivot_df

Variables,State,Year,Disposable personal income,Gross domestic product (GDP),Implicit regional price deflator,Per capita disposable personal income,Per capita personal consumption expenditures (PCE),Per capita personal income,Personal consumption expenditures,Personal income,Real GDP,Real PCE,Real per capita PCE,Real per capita personal income,Real personal income,Regional price parities (RPPs),Total employment (number of jobs)
0,Alabama,2013,159063.1,194786.9,92.163,32699,29609,36014,144027.9,175185.3,191369.8,156274.7,32126,39128,190336.3,90.932,2523338
1,Alabama,2014,164562.8,197406.9,93.632,33675,30427,37055,148689.4,181078.8,189886.3,158801.9,32496,39629,193661.1,91.005,2551872
2,Alabama,2015,171157.0,202372.4,93.071,34872,31123,38531,152755.9,189115.4,191335.2,164127.8,33440,41471,203544.4,90.259,2587451
3,Alabama,2016,173653.1,207368.4,94.903,35220,31866,39014,157119.9,192363.5,194283.8,165559.2,33578,41196,203118.8,91.122,2619737
4,Alabama,2017,180348.3,214606.3,95.383,36418,32977,40223,163308.1,199191.8,196974.9,171213.9,34573,42274,209348.5,89.938,2649157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
352,Wyoming,2015,30239.2,38426.9,100.912,51811,39446,57846,23022.7,33761.8,40418.2,22814.6,39090,57422,33514.3,97.863,406033
353,Wyoming,2016,28807.8,35879.0,101.796,49499,39662,54827,23082.9,31908.5,38188.7,22675.7,38963,53973,31411.1,97.741,398130
354,Wyoming,2017,29625.5,36980.7,102.923,51411,40890,57184,23562.6,32952.3,37521.6,22893.3,39728,55697,32095.1,97.049,398939
355,Wyoming,2018,31548.4,39171.7,99.863,54886,42372,60472,24355.2,34759.6,38080.1,24388.6,42430,60694,34886.7,92.195,404561
356,Wyoming,2019,33339.7,39428.0,103.143,57948,43115,64117,24806.1,36889.0,38446.6,24050.2,41802,62295,35840.6,93.823,408235

In [12]:
# Rename the first column header
pivot_df = pivot_df.rename_axis(columns={'Variables': ''})
pivot_df

,State,Year,Disposable personal income,Gross domestic product (GDP),Implicit regional price deflator,Per capita disposable personal income,Per capita personal consumption expenditures (PCE),Per capita personal income,Personal consumption expenditures,Personal income,Real GDP,Real PCE,Real per capita PCE,Real per capita personal income,Real personal income,Regional price parities (RPPs),Total employment (number of jobs)
0,Alabama,2013,159063.1,194786.9,92.163,32699,29609,36014,144027.9,175185.3,191369.8,156274.7,32126,39128,190336.3,90.932,2523338
1,Alabama,2014,164562.8,197406.9,93.632,33675,30427,37055,148689.4,181078.8,189886.3,158801.9,32496,39629,193661.1,91.005,2551872
2,Alabama,2015,171157.0,202372.4,93.071,34872,31123,38531,152755.9,189115.4,191335.2,164127.8,33440,41471,203544.4,90.259,2587451
3,Alabama,2016,173653.1,207368.4,94.903,35220,31866,39014,157119.9,192363.5,194283.8,165559.2,33578,41196,203118.8,91.122,2619737
4,Alabama,2017,180348.3,214606.3,95.383,36418,32977,40223,163308.1,199191.8,196974.9,171213.9,34573,42274,209348.5,89.938,2649157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
352,Wyoming,2015,30239.2,38426.9,100.912,51811,39446,57846,23022.7,33761.8,40418.2,22814.6,39090,57422,33514.3,97.863,406033
353,Wyoming,2016,28807.8,35879.0,101.796,49499,39662,54827,23082.9,31908.5,38188.7,22675.7,38963,53973,31411.1,97.741,398130
354,Wyoming,2017,29625.5,36980.7,102.923,51411,40890,57184,23562.6,32952.3,37521.6,22893.3,39728,55697,32095.1,97.049,398939
355,Wyoming,2018,31548.4,39171.7,99.863,54886,42372,60472,24355.2,34759.6,38080.1,24388.6,42430,60694,34886.7,92.195,404561
356,Wyoming,2019,33339.7,39428.0,103.143,57948,43115,64117,24806.1,36889.0,38446.6,24050.2,41802,62295,35840.6,93.823,408235

In [13]:
#Check datatype of each column
print(pivot_df.dtypes)

State                                                             object
Year                                                              object
 Disposable personal income                                       object
 Gross domestic product (GDP)                                     object
 Implicit regional price deflator                                 object
 Per capita disposable personal income                            object
 Per capita personal consumption expenditures (PCE)               object
 Per capita personal income                                       object
 Personal consumption expenditures                                object
 Personal income                                                  object
 Real GDP                                                         object
 Real PCE                                                         object
 Real per capita PCE                                              object
 Real per capita personal income                                  object
 Real personal income                                             object
 Regional price parities (RPPs)                                   object
 Total employment (number of jobs)                                object
dtype: object

In [14]:
#Change datatype of columns to integer and floats where necessary 
pivot_df.columns = pivot_df.columns.str.strip()
# using dictionary to convert specific columns
convert_dict = {'Year': int,
                'Disposable personal income': float,
                'Gross domestic product (GDP)': float,
                'Implicit regional price deflator': float,
                'Per capita disposable personal income': int,
                'Per capita personal consumption expenditures (PCE)': int,
                'Per capita personal income': float,
                'Personal consumption expenditures': float,
                'Personal income': float, 
                'Real GDP': float, 
                'Real PCE': float, 
                'Real per capita PCE': int, 
                'Real per capita personal income': int, 
                'Real personal income': float,
                'Regional price parities (RPPs)': float,
                'Total employment (number of jobs)': int,
                }
 
pivot_df = pivot_df.astype(convert_dict)
print(pivot_df.dtypes)

State                                                  object
Year                                                    int64
Disposable personal income                            float64
Gross domestic product (GDP)                          float64
Implicit regional price deflator                      float64
Per capita disposable personal income                   int64
Per capita personal consumption expenditures (PCE)      int64
Per capita personal income                            float64
Personal consumption expenditures                     float64
Personal income                                       float64
Real GDP                                              float64
Real PCE                                              float64
Real per capita PCE                                     int64
Real per capita personal income                         int64
Real personal income                                  float64
Regional price parities (RPPs)                        float64
Total employment (number of jobs)                       int64
dtype: object

In [15]:
#exporting file as an excel
pivot_df.to_excel('/Users/emilylin/Downloads/Data1002_US_income_dataset.xlsx')
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.