In [1]:
import pandas as pd 
df = pd.read_excel('/Users/emilylin/Downloads/SARPP 2/SASUMMARY__ALL_AREAS_1998_2022.xlsx')
df

,Unnamed: 0,State,Year,Disposable personal income,Gross domestic product (GDP),Implicit regional price deflator,Per capita disposable personal income,Per capita personal consumption expenditures (PCE),Per capita personal income,Personal consumption expenditures,Personal income,Real GDP,Real PCE,Real per capita PCE,Real per capita personal income,Real personal income,Regional price parities (RPPs),Total employment (number of jobs)
0,0,Alabama,2013,159063.1,194786.9,92.163,32699,29609,36014,144027.9,175185.3,191369.8,156274.7,32126,39128,190336.3,90.932,2523338
1,1,Alabama,2014,164562.8,197406.9,93.632,33675,30427,37055,148689.4,181078.8,189886.3,158801.9,32496,39629,193661.1,91.005,2551872
2,2,Alabama,2015,171157.0,202372.4,93.071,34872,31123,38531,152755.9,189115.4,191335.2,164127.8,33440,41471,203544.4,90.259,2587451
3,3,Alabama,2016,173653.1,207368.4,94.903,35220,31866,39014,157119.9,192363.5,194283.8,165559.2,33578,41196,203118.8,91.122,2619737
4,4,Alabama,2017,180348.3,214606.3,95.383,36418,32977,40223,163308.1,199191.8,196974.9,171213.9,34573,42274,209348.5,89.938,2649157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
352,352,Wyoming,2015,30239.2,38426.9,100.912,51811,39446,57846,23022.7,33761.8,40418.2,22814.6,39090,57422,33514.3,97.863,406033
353,353,Wyoming,2016,28807.8,35879.0,101.796,49499,39662,54827,23082.9,31908.5,38188.7,22675.7,38963,53973,31411.1,97.741,398130
354,354,Wyoming,2017,29625.5,36980.7,102.923,51411,40890,57184,23562.6,32952.3,37521.6,22893.3,39728,55697,32095.1,97.049,398939
355,355,Wyoming,2018,31548.4,39171.7,99.863,54886,42372,60472,24355.2,34759.6,38080.1,24388.6,42430,60694,34886.7,92.195,404561
356,356,Wyoming,2019,33339.7,39428.0,103.143,57948,43115,64117,24806.1,36889.0,38446.6,24050.2,41802,62295,35840.6,93.823,408235

In [2]:
df = df.drop(columns = ['Unnamed: 0'])
df

,State,Year,Disposable personal income,Gross domestic product (GDP),Implicit regional price deflator,Per capita disposable personal income,Per capita personal consumption expenditures (PCE),Per capita personal income,Personal consumption expenditures,Personal income,Real GDP,Real PCE,Real per capita PCE,Real per capita personal income,Real personal income,Regional price parities (RPPs),Total employment (number of jobs)
0,Alabama,2013,159063.1,194786.9,92.163,32699,29609,36014,144027.9,175185.3,191369.8,156274.7,32126,39128,190336.3,90.932,2523338
1,Alabama,2014,164562.8,197406.9,93.632,33675,30427,37055,148689.4,181078.8,189886.3,158801.9,32496,39629,193661.1,91.005,2551872
2,Alabama,2015,171157.0,202372.4,93.071,34872,31123,38531,152755.9,189115.4,191335.2,164127.8,33440,41471,203544.4,90.259,2587451
3,Alabama,2016,173653.1,207368.4,94.903,35220,31866,39014,157119.9,192363.5,194283.8,165559.2,33578,41196,203118.8,91.122,2619737
4,Alabama,2017,180348.3,214606.3,95.383,36418,32977,40223,163308.1,199191.8,196974.9,171213.9,34573,42274,209348.5,89.938,2649157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
352,Wyoming,2015,30239.2,38426.9,100.912,51811,39446,57846,23022.7,33761.8,40418.2,22814.6,39090,57422,33514.3,97.863,406033
353,Wyoming,2016,28807.8,35879.0,101.796,49499,39662,54827,23082.9,31908.5,38188.7,22675.7,38963,53973,31411.1,97.741,398130
354,Wyoming,2017,29625.5,36980.7,102.923,51411,40890,57184,23562.6,32952.3,37521.6,22893.3,39728,55697,32095.1,97.049,398939
355,Wyoming,2018,31548.4,39171.7,99.863,54886,42372,60472,24355.2,34759.6,38080.1,24388.6,42430,60694,34886.7,92.195,404561
356,Wyoming,2019,33339.7,39428.0,103.143,57948,43115,64117,24806.1,36889.0,38446.6,24050.2,41802,62295,35840.6,93.823,408235

In [3]:
# Strip whitespace from column headers
df.columns = df.columns.str.strip()
print(df.columns)

Index(['State', 'Year', 'Disposable personal income',
       'Gross domestic product (GDP)', 'Implicit regional price deflator',
       'Per capita disposable personal income',
       'Per capita personal consumption expenditures (PCE)',
       'Per capita personal income', 'Personal consumption expenditures',
       'Personal income', 'Real GDP', 'Real PCE', 'Real per capita PCE',
       'Real per capita personal income', 'Real personal income',
       'Regional price parities (RPPs)', 'Total employment (number of jobs)'],
      dtype='object')

In [4]:
# Group by year and calculate the sum of GDP for each year
gdp_sum_by_year = df.groupby('Year')['Real GDP'].sum().reset_index()

# Print or work with the resulting DataFrame
print(gdp_sum_by_year)

   Year    Real GDP
0  2013  16391324.6
1  2014  16773587.9
2  2015  17239274.1
3  2016  17530096.3
4  2017  17920705.3
5  2018  18434037.7
6  2019  18858550.9

In [5]:
# Group by year and calculate the mean of the Implicit regional price deflator for each year
IRPD_mean = df.groupby('Year')['Implicit regional price deflator'].mean().reset_index()
print(IRPD_mean)

   Year  Implicit regional price deflator
0  2013                         99.313922
1  2014                        100.768941
2  2015                        100.912627
3  2016                        101.801725
4  2017                        103.497725
5  2018                        105.389667
6  2019                        107.105765

In [6]:
# Compare mean with the median
IRPD_median = df.groupby('Year')['Implicit regional price deflator'].median().reset_index()
print(IRPD_median)

   Year  Implicit regional price deflator
0  2013                            98.028
1  2014                           100.127
2  2015                           100.467
3  2016                           100.639
4  2017                           102.923
5  2018                           103.796
6  2019                           104.753

In [7]:
df_copy = df.copy()
# Over the years 2013 to 2019, which states appear to have on average the highest real per capita personal income?
df1 = df_copy[["State","Real per capita personal income"]].groupby("State").mean().reset_index()
print("Average real per capita personal income across all US states from 2013-2019 in order:")

# Sort the average per capita PI in descending order
R_PI = df1.sort_values(by='Real per capita personal income', ascending=False)
R_PI

Average real per capita personal income across all US states from 2013-2019 in order:

                   State  Real per capita personal income
8   District of Columbia                     65914.428571
6            Connecticut                     62049.857143
21         Massachusetts                     57984.000000
50               Wyoming                     57498.000000
34          North Dakota                     56752.285714
30            New Jersey                     53018.571429
41          South Dakota                     52774.857143
1                 Alaska                     52453.142857
29         New Hampshire                     52416.857143
32              New York                     52220.142857
27              Nebraska                     52085.571429
23             Minnesota                     51543.000000
20              Maryland                     51072.000000
5               Colorado                     50377.142857
47            Washington                     50151.142857
13              Illinois                     50095.142857
38          Pennsylvania                     49890.142857
16                Kansas                     49806.000000
46              Virginia                     49777.571429
4             California                     49037.714286
15                  Iowa                     48982.285714
49             Wisconsin                     48394.285714
45               Vermont                     47841.857143
36              Oklahoma                     47340.285714
7               Delaware                     47302.000000
43                 Texas                     47254.714286
39          Rhode Island                     46986.285714
35                  Ohio                     46728.428571
25              Missouri                     45689.285714
26               Montana                     45451.428571
14               Indiana                     45279.000000
42             Tennessee                     45182.714286
18             Louisiana                     45089.000000
22              Michigan                     44863.714286
19                 Maine                     44861.000000
9                Florida                     44729.857143
28                Nevada                     44312.857143
33        North Carolina                     44139.142857
3               Arkansas                     43726.571429
37                Oregon                     43492.714286
10               Georgia                     43428.714286
11                Hawaii                     42233.571429
40        South Carolina                     42223.714286
17              Kentucky                     42054.142857
0                Alabama                     41785.000000
12                 Idaho                     41362.285714
44                  Utah                     41071.714286
48         West Virginia                     40961.142857
2                Arizona                     40855.571429
31            New Mexico                     39487.571429
24           Mississippi                     39317.142857

In [8]:
# Find the maximum and minimum values in the "Real per capita personal income" column
max_value = R_PI["Real per capita personal income"].max()
min_value = R_PI["Real per capita personal income"].min()

# Find the corresponding names for the maximum and minimum values
max_name = R_PI.loc[R_PI["Real per capita personal income"] == max_value, "State"].values[0]
min_name = R_PI.loc[R_PI["Real per capita personal income"] == min_value, "State"].values[0]

print(f"Maximum Value: {max_value} (State: {max_name})")
print(f"Minimum Value: {min_value} (State: {min_name})")

Maximum Value: 65914.42857142857 (State: District of Columbia)
Minimum Value: 39317.142857142855 (State: Mississippi)

In [9]:
df_copy2 = df.copy()
# Over the years 2013 to 2019, which states appear to have on average the highest real per capita PCE
df2 = df_copy2[["State","Real per capita PCE"]].groupby("State").mean().reset_index()
print("Average real per capita PCE across all US states from 2013-2019 in order:")

# Sort the average per capita PI in descending order
R_PCE = df2.sort_values(by='Real per capita PCE', ascending=False)
R_PCE

Average real per capita PCE across all US states from 2013-2019 in order:

                   State  Real per capita PCE
8   District of Columbia         55249.000000
34          North Dakota         44904.571429
21         Massachusetts         44074.571429
29         New Hampshire         43717.714286
1                 Alaska         42750.285714
6            Connecticut         42545.285714
45               Vermont         42531.571429
7               Delaware         41228.857143
19                 Maine         41190.714286
23             Minnesota         40954.285714
41          South Dakota         40550.714286
38          Pennsylvania         40373.142857
50               Wyoming         39841.428571
30            New Jersey         39493.285714
27              Nebraska         39430.857143
5               Colorado         39424.571429
26               Montana         39087.857143
32              New York         38709.857143
9                Florida         38632.142857
25              Missouri         38525.857143
13              Illinois         38410.428571
22              Michigan         38407.571429
49             Wisconsin         38392.714286
47            Washington         38331.285714
35                  Ohio         37941.571429
46              Virginia         37679.000000
20              Maryland         37631.857143
39          Rhode Island         37303.428571
15                  Iowa         37274.142857
4             California         36885.571429
16                Kansas         36722.714286
48         West Virginia         36335.428571
14               Indiana         36042.285714
40        South Carolina         35942.142857
28                Nevada         35941.285714
43                 Texas         35882.571429
33        North Carolina         35878.142857
37                Oregon         35775.000000
42             Tennessee         35452.857143
18             Louisiana         35428.142857
10               Georgia         35344.428571
2                Arizona         35327.571429
11                Hawaii         35239.571429
17              Kentucky         35198.142857
0                Alabama         34157.428571
36              Oklahoma         34062.428571
3               Arkansas         33962.571429
31            New Mexico         33484.714286
12                 Idaho         32634.000000
24           Mississippi         32492.142857
44                  Utah         32171.857143

In [10]:
# Find the maximum and minimum values in the "Real per capita PCE column
max_value = R_PCE["Real per capita PCE"].max()
min_value = R_PCE["Real per capita PCE"].min()

# Find the corresponding names for the maximum and minimum values
max_name = R_PCE.loc[R_PCE["Real per capita PCE"] == max_value, "State"].values[0]
min_name = R_PCE.loc[R_PCE["Real per capita PCE"] == min_value, "State"].values[0]
print("States with the maximum and minimum average value for 'Real per capita PCE'")
print(f"Maximum Value: {max_value} (State: {max_name})")
print(f"Minimum Value: {min_value} (State: {min_name})")

States with the maximum and minimum average value for 'Real per capita PCE'
Maximum Value: 55249.0 (State: District of Columbia)
Minimum Value: 32171.85714285714 (State: Utah)