In [1]:
import pandas as pd

In [2]:
df1 = pd.read_excel('/Users/emilylin/Downloads/Unemployment_exported2.xlsx', index_col=[0])
df2 = pd.read_excel('/Users/emilylin/Downloads/Data1002_US_income_dataset.xlsx', index_col=[0])
df3 = pd.read_excel('/Users/emilylin/Downloads/state_crime (1).xlsx', index_col=[0])
df4 = pd.read_excel('/Users/emilylin/Downloads/Cleaned Version.xlsx')

In [3]:
df1['Year'] = df1['Year'].astype(object)
df2['Year'] = df2['Year'].astype(object)
df3['Year'] = df3['Year'].astype(object)
df4['Year'] = df4['Year'].astype(object)

df_merged = pd.merge(pd.merge(df1, df2, on=["State", "Year"]), df3, on=["State", "Year"])
df_merged = df_merged.merge(df4, on=["State", "Year"])
df_merged

,Postal Abbr.,State,Year,Civilian_labor_force,Employed,Unemployed,Unemployment_rate,Disposable personal income,Gross domestic product (GDP),Implicit regional price deflator,...,Percentage with high school completion or higher (%) Male,Unnamed: 11,Percentage with high school completion or higher (%) Female,Unnamed: 13,Percentage with bachelor's or higher degree (%) total,Unnamed: 15,Percentage with bachelor's or higher degree (%) Male,Unnamed: 17,Percentage with bachelor's or higher degree (%) Female,Unnamed: 19
0,AL,Alabama,2013,2172102,2012828,159274,7.3,159063.1,194786.9,92.163,...,84.0,0.43,85.7,0.35,23.5,0.31,23.4,0.35,23.5,0.44
1,AL,Alabama,2014,2164715,2018705,146010,6.7,164562.8,197406.9,93.632,...,83.7,0.41,85.5,0.31,23.0,0.30,22.7,0.40,23.3,0.43
2,AL,Alabama,2015,2152295,2020443,131852,6.1,171157.0,202372.4,93.071,...,84.1,0.41,86.1,0.35,24.0,0.34,23.7,0.49,24.3,0.40
3,AL,Alabama,2016,2155729,2029157,126572,5.9,173653.1,207368.4,94.903,...,83.3,0.38,86.3,0.35,24.7,0.30,24.5,0.39,24.9,0.37
4,AL,Alabama,2017,2203458,2103873,99585,4.5,180348.3,214606.3,95.383,...,85.0,0.39,86.9,0.32,25.6,0.26,24.7,0.35,26.4,0.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
352,WY,Wyoming,2015,301608,288894,12714,4.2,30239.2,38426.9,100.912,...,93.2,0.68,93.1,0.82,26.9,0.93,26.6,1.28,27.1,1.17
353,WY,Wyoming,2016,300546,284439,16107,5.4,28807.8,35879.0,101.796,...,93.0,0.74,93.5,0.66,26.5,0.94,25.5,1.12,27.6,1.22
354,WY,Wyoming,2017,293802,281164,12638,4.3,29625.5,36980.7,102.923,...,92.7,0.60,93.4,0.68,27.6,0.88,25.9,1.11,29.3,1.06
355,WY,Wyoming,2018,292629,280754,11875,4.1,31548.4,39171.7,99.863,...,92.5,0.80,93.0,0.76,27.0,0.83,25.6,1.10,28.4,1.23
356,WY,Wyoming,2019,293320,282433,10887,3.7,33339.7,39428.0,103.143,...,93.8,0.61,95.2,0.54,29.1,0.89,27.4,1.14,30.8,1.19

In [4]:
print(df_merged.columns)

Index(['Postal Abbr.', 'State', 'Year', 'Civilian_labor_force', 'Employed',
       'Unemployed', 'Unemployment_rate', 'Disposable personal income',
       'Gross domestic product (GDP)', 'Implicit regional price deflator',
       'Per capita disposable personal income',
       'Per capita personal consumption expenditures (PCE)',
       'Per capita personal income', 'Personal consumption expenditures',
       'Personal income', 'Real GDP', 'Real PCE', 'Real per capita PCE',
       'Real per capita personal income', 'Real personal income',
       'Regional price parities (RPPs)', 'Total employment (number of jobs)',
       'Population', 'Rates of all crimes', 'Rates of burglary',
       'Rates of larceny', 'Rates of motor', 'Rates of violent crimes',
       'Rates of violent assault', 'Rates of violent murder',
       'Rates of violent rape', 'Rates of violent robbery', 'Total crimes',
       'Total burglary', 'Total larceny', 'Total motor',
       'Total violent crimes', 'Total violent assault', 'Total violent murder',
       'Total violent rape', 'Total violent robbery',
       'No. of persons 25 and over (in thou)  Total', 'Unnamed: 3',
       'No. of persons 25 and over (in thou)  Male', 'Unnamed: 5',
       'No. of persons 25 and over (in thou)  Female', 'Unnamed: 7',
       'Percentage with high school completion or higher (%)  total',
       'Unnamed: 9',
       'Percentage with high school completion or higher (%)  Male',
       'Unnamed: 11',
       'Percentage with high school completion or higher (%)  Female',
       'Unnamed: 13', 'Percentage with bachelor's or higher degree (%)  total',
       'Unnamed: 15', 'Percentage with bachelor's or higher degree (%)  Male',
       'Unnamed: 17',
       'Percentage with bachelor's or higher degree (%)  Female',
       'Unnamed: 19'],
      dtype='object')

In [5]:
#Remove the columns in df4 containing the standard deviations 

columns_to_drop = [col for col in df_merged.columns if col.startswith('Unnamed:') and int(col.split(':')[1]) % 2 == 1]
df_merged = df_merged.drop(columns=columns_to_drop)
df_merged

,Postal Abbr.,State,Year,Civilian_labor_force,Employed,Unemployed,Unemployment_rate,Disposable personal income,Gross domestic product (GDP),Implicit regional price deflator,...,Total violent robbery,No. of persons 25 and over (in thou) Total,No. of persons 25 and over (in thou) Male,No. of persons 25 and over (in thou) Female,Percentage with high school completion or higher (%) total,Percentage with high school completion or higher (%) Male,Percentage with high school completion or higher (%) Female,Percentage with bachelor's or higher degree (%) total,Percentage with bachelor's or higher degree (%) Male,Percentage with bachelor's or higher degree (%) Female
0,AL,Alabama,2013,2172102,2012828,159274,7.3,159063.1,194786.9,92.163,...,4648,3226,1525,1701,84.9,84.0,85.7,23.5,23.4,23.5
1,AL,Alabama,2014,2164715,2018705,146010,6.7,164562.8,197406.9,93.632,...,4701,3259,1536,1723,84.6,83.7,85.5,23.0,22.7,23.3
2,AL,Alabama,2015,2152295,2020443,131852,6.1,171157.0,202372.4,93.071,...,4611,3283,1550,1733,85.1,84.1,86.1,24.0,23.7,24.3
3,AL,Alabama,2016,2155729,2029157,126572,5.9,173653.1,207368.4,94.903,...,4686,3300,1558,1742,84.9,83.3,86.3,24.7,24.5,24.9
4,AL,Alabama,2017,2203458,2103873,99585,4.5,180348.3,214606.3,95.383,...,4217,3314,1569,1745,86.0,85.0,86.9,25.6,24.7,26.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
352,WY,Wyoming,2015,301608,288894,12714,4.2,30239.2,38426.9,100.912,...,59,388,191,197,93.2,93.2,93.1,26.9,26.6,27.1
353,WY,Wyoming,2016,300546,284439,16107,5.4,28807.8,35879.0,101.796,...,59,391,199,192,93.2,93.0,93.5,26.5,25.5,27.6
354,WY,Wyoming,2017,293802,281164,12638,4.3,29625.5,36980.7,102.923,...,76,389,198,190,93.1,92.7,93.4,27.6,25.9,29.3
355,WY,Wyoming,2018,292629,280754,11875,4.1,31548.4,39171.7,99.863,...,100,394,200,194,92.7,92.5,93.0,27.0,25.6,28.4
356,WY,Wyoming,2019,293320,282433,10887,3.7,33339.7,39428.0,103.143,...,67,388,195,193,94.5,93.8,95.2,29.1,27.4,30.8

In [6]:
print(df_merged.columns)

Index(['Postal Abbr.', 'State', 'Year', 'Civilian_labor_force', 'Employed',
       'Unemployed', 'Unemployment_rate', 'Disposable personal income',
       'Gross domestic product (GDP)', 'Implicit regional price deflator',
       'Per capita disposable personal income',
       'Per capita personal consumption expenditures (PCE)',
       'Per capita personal income', 'Personal consumption expenditures',
       'Personal income', 'Real GDP', 'Real PCE', 'Real per capita PCE',
       'Real per capita personal income', 'Real personal income',
       'Regional price parities (RPPs)', 'Total employment (number of jobs)',
       'Population', 'Rates of all crimes', 'Rates of burglary',
       'Rates of larceny', 'Rates of motor', 'Rates of violent crimes',
       'Rates of violent assault', 'Rates of violent murder',
       'Rates of violent rape', 'Rates of violent robbery', 'Total crimes',
       'Total burglary', 'Total larceny', 'Total motor',
       'Total violent crimes', 'Total violent assault', 'Total violent murder',
       'Total violent rape', 'Total violent robbery',
       'No. of persons 25 and over (in thou)  Total',
       'No. of persons 25 and over (in thou)  Male',
       'No. of persons 25 and over (in thou)  Female',
       'Percentage with high school completion or higher (%)  total',
       'Percentage with high school completion or higher (%)  Male',
       'Percentage with high school completion or higher (%)  Female',
       'Percentage with bachelor's or higher degree (%)  total',
       'Percentage with bachelor's or higher degree (%)  Male',
       'Percentage with bachelor's or higher degree (%)  Female'],
      dtype='object')

In [7]:
#exporting file as an excel
df_merged.to_excel('/Users/emilylin/Downloads/Merged Dataset2.xlsx')
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.